body{
	font-size: 11px;
	font-family: Verdana;
}
div{
	min-width: 140px;
	margin-bottom: 5px;
	min-height: 21px;
}

#ticket, #search{
	width: 100px;
}

#ticketButton, #searchButton{
	float: right;
}

#newSEButton{	
	width: 68px;
	float: right;	
}

#newEPButton{	
	width: 68px;
	float: left;
}

#downloadJnlp, #downloadSA{
	width: 41px;
	height: 19px;
	text-align: left;
	float: right;
	margin-left: 4px;
}
